:root{
    /*color*/
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    --player-color:#6683D9;
    /*size*/
    --user-header-font:40px;
    --player-font:24px;
    --photo-width:377px;
    --photo-height:350px;

    /*border*/
    --border:2px solid var(--white-color);
    --user-border:2px solid var(--user-color);
    --photo-border:4px solid;
}

.movie{
    position: absolute;
    top:40%;
    left:13%;
    padding: 2%;
    width: 88%;
    height: 250%;
    display: flex;
    flex-direction: column;
}

.movie__header{
    margin-bottom: 2%;
}

.movie__header__icon{
    font-size: 35px;
    padding:5px;
    border-radius: 50%;
    color:var(--white-color);
}

.movie__header__text{
    font-size:35px;
    color:var(--white-color);
}

.movie__scene,
.movie__illust{
    display: flex;
    flex-direction: column;
    padding:3%;
    height: 10%;
    width: 100%;
}

.scene__header,
.illust__header{
    font-size:35px;
    color:var(--white-color);
    margin:24px;
}

.scene__content,
.illust__content{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.scene__slider-btn,
.illust__slider-btn{
    font-size:25px;
    color:white;
}

.scene__wrapper,
.illust__wrapper{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:calc(var(--photo-width)*3);
    height: var(--photo-height);
    overflow-x: hidden;
    margin-bottom:20px;
}

.scene__slider,
.illust__slider{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition:transform 0.3s ease-in-out;
}

.scene__slider__item,
.illust__slider__item{
    display: flex;
    cursor: pointer;
}

.scene__photo,
.illust__photo{
    display: inline-block;
    width:var(--photo-width);
    height:var(--photo-height);
    border:var(--photo-border) transparent;
    border-radius: 24px;
    transition:all 0.3s ease;
}


.scene__photo:hover,
.illust__photo:hover{
    border:var(--photo-border) var(--white-color);
}

.photo{
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.scene__btns,
.illust__btns{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

input[type="radio"],
input[type="radio"]:checked{
    appearance: none;
    width:12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 2px;
    cursor: pointer;
}

input[type="radio"]{
    background-color: var(--white-color);
    border: var(--border);
}

input[type="radio"]:checked{
    background-color: var(--player-color);
}