@import "./header.css";
@import "./menu-todo.css";
@import "./movie.css";

@font-face {
    font-family: yasashii-bold;
    font-weight: bold;
    src: url("./font/YasashiiBold.otf") format("opentype");
}



:root{
    /*color*/
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    --player-color:#6683D9;
    --menu-color:#5b4399;

    /*size*/
    --header-time-size:3.125em;
    --header-name-size:1.875em;
    --header-weather-size:1.125em;
    --header-music-size:1em;
    --menu-title-size:1.8em;
    --menu-todo-btn-size:1.6em;
    --menu-title-btn:2em;
    --menu-item-btn:1.3em;
    --todo-placeholder:0.85em;
    --list-text-size:1.5em;
    --title-size:7.5em;
    --user-header-font:2.5em;
    --player-font:1.3em;

    --photo-width:25vw;
    --photo-height:45vh;
    
    /*border*/
    --border:2px solid var(--white-color);
    --photo-border:4px solid;
}

*{
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.1);
}

ul,input{
    all:unset;
}

body{
    margin:0;
    width:100vw;
    height: 400vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background: url("/img/background.jpg") center/cover no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width:1350px) {
    :root{

        /*size*/
    --header-time-size:3em;
    --header-name-size:1.5em; 
    --header-weather-size:1em;
    --header-music-size:0.8em;
    --menu-title-size:1.5em;
    --menu-title-btn:1.5em;
    --menu-item-btn:1em;
    --todo-placeholder:12px;
    --title-size:6.5em;
    }
}