@import "./menu-todo.css";
@import "./movie.css";

@font-face {
    font-family: yasashii-bold;
    font-weight: bold;
    src: url("./font/YasashiiBold.otf") format("opentype");
}



:root{
    /*color*/
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    --player-color:#6683D9;

    /*size*/
    --header-time-size:50px;
    --header-name-size:35px;

    /*border*/
    --border:2px solid var(--white-color);
}

*{
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.2);
}

ul,input{
    all:unset;
}

body{
    margin:0;
    width:99vw;
    height: 700vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/img/background.jpg") center/cover no-repeat;
    background-attachment: fixed;
}

.header{
    padding:25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--white-color);
}

.header__time{
    font-size: var(--header-time-size);
    margin-right:40px;
}

.weather-music-container{
    width: 25%;
    margin-right: 12px;;
    display: flex;
    align-items: center;
}

.music{
    margin-right:8px;
    height: 100%;
    width:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music__title{
    color: var(--white-color);
    margin-bottom:15px;
    font-size:16px;
    padding:6px;
    border-radius: 12px;
    border:2px solid transparent;
    transition: all 0.3s ease;
}

.music:hover .music__title{
    background: var(--white-color);
    color: var(--player-color);
    font-weight: bold;
    border:var(--border);
}

.music__btns{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    will-change: transform;
}

.music__btn{
    color:var(--white-color);
    font-size:17px;
}

.redo-btn,
.random-btn{
    opacity: 0.6;
    font-size:12px;
}

.header__weather{
    font-size:18px;
    padding:5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transition: 0.3s all ease-in-out;
    user-select: none;
}

.header__weather:hover{
    color:var(--player-color);
    background-color: var(--white-color);
}



