:root{
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    --user-color:#5847A3;
    --menu-header-color:#928BEB;
    
    /*size*/
    --menu-title-size:30px;
    --menu-todo-btn-size:40px;
    --list-text-size:20px;
    --title-size:7.5em;


    /*border*/
    --border:2px solid var(--white-color);
}

.main{
    position: relative;
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top:7.5%;
    left:3%;
    width: 20%;
    color:var(--white-color);
    display: flex;
    flex-direction: column;
}

.menu__header{
    width: 70%;
    padding:12px;
    display: flex;
    margin-bottom: 5px;
}

.menu__btn{
    cursor: pointer;
    will-change: transform;
    border-radius: 50%;
    padding:5px;
    border:var(--border);
    margin-right:12px;
    width:var(--menu-todo-btn-size);
    height: var(--menu--todo-btn-size);
    font-size:23px;
    transform: rotate(90deg);

    transition:all 0.3s ease;
    color:var(--white-color);
}

.menu__text{
    color:var(--white-color);
    font-size:25px;
    transition:all 0.3s ease;
}

.menu:hover .menu__btn{
    transform:rotate(0);
    background-color: var(--white-color);
    color:var(--menu-header-color);
}

.menu__content{
    display: flex;
}

.menu__vertical{
    width: 2px;
    height: 100%;
    background-color: var(--white-color);
    margin-left:30px;
}

.menu__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    color:var(--white-color);
}

.menu__title-btn{
    color:var(--white-color);
    font-size: 32px;
}

.menu__item{
    list-style: none;
}

.menu__title,
.menu__item{
    width: 50%;
    padding:12px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.menu__title:hover,
.menu__item:hover{
    color:var(--user-color);
    background-color: var(--menu-header-color);
}

.menu__item__btn{
    color:var(--white-color);
    font-size: 20px;
}

.menu__vertical,
.menu-home,
.menu-movie,
.menu-scene,
.menu-illust{
    opacity:0;
    transition:opacity 0.3s ease;
}

.follow-btns-container{
    position: fixed;
    top:85%;
    left:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow-btns__header{
    font-size:12px;
    color: var(--white-color);
    text-transform: uppercase;
    margin:12px;
}

.follow-btn{
    color:var(--white-color);
    transition:all 0.3s ease;
    width: 30px;
    height: 30px;
    border-radius:50%;
    font-size:15px;
}

.follow-btns-container:hover .follow-btn{
    color:var(--menu-header-color);
    background: var(--white-color);
    border:rgba(0,0,0,0.4) 1px solid;
}


.title{
    position: absolute;
    top:150px;
    align-self: center;
    color:var(--white-color);
    text-transform: uppercase;
    font-size:var(--title-size);
    margin: 0;
    font-weight: bold;
}

.name-container{
    position: absolute;
    top:8%;
    width: 20%;
}

.name{
    color: var(--white-color);
    font-size:var(--header-name-size);
}

.name-form{
    width: 100%;
    border:var(--border);
    border-radius: 12px;
    padding:12px;
}

.name-form:focus-within{
    background-color: var(--menu-header-color);
}

.name-input{
    text-align: center;
    width: 100%;
    color:var(--white-color);
}

.name-input::placeholder{
    color:var(--white-color);
    text-align: center;
    font-size: 20px;
}

.name-hide{
    display: none;
}

.todo{
    position: absolute;
    top:0;
    right:3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo__form{
    margin:0 16px;  
    border: var(--border);
    border-radius: 12px;
    padding:5px;
    display: flex;
    justify-content: center;
}

.todo__form:focus-within{
    background-color: var(--menu-header-color);
}

.todo__header{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.todo__btn{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:var(--menu--todo-btn-size);
    height: var(--menu--todo-btn-size);
    border-radius: 50%;
    border: var(--border);
    color:var(--white-color);
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.todo:hover .todo__btn{
    background-color: white;
    color:var(--menu-header-color);
    transform:rotate(0);
}

.todo__input{
    width: 70%;
    color:var(--white-color);
}

.todo__input::placeholder{
    color:var(--white-color);
}

.todo-list-container{
    padding:3%;
    text-align: center;
    border:var(--border);
    height: 5%;
    width: 70%;
    border-radius: 12px;
    background-color:var(--menu-header-color);
    margin-bottom: 15px;
    opacity: 0;
    transition: opacity 200ms ease;
}

.todo-list-header{
    color: var(--white-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}

.todo-item{
    display: flex;
}

.todo-text{
    width:50%;
    color:var(--white-color);
}

.todo-list-btn{
    color:var(--white-color);
    font-size:18px;
    will-change: transform;
}

.todo-btns{
    width:50%;
}

.todo-del-btn{
    font-size:25px;
}
