:root{
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    
    /*size*/
    --menu-title-size:30px;
    --menu-todo-btn-size:30px;
    --list-text-size:20px;
    --title-size:7.5em;


    /*border*/
    --border:2px solid var(--white-color);
}

.main{
    position: relative;
    height: 100%;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    top:7.5%;
    left:3%;
    width: 20%;
    color:var(--white-color);
    display: flex;
    flex-direction: column;
}

.menu__header{
    display: flex;
    margin-bottom: 15px;
}

.menu__btn{
    color:var(--white-color);
    cursor: pointer;
    will-change: transform;
    border-radius: 50%;
    padding:5px;
    border:var(--border);
    margin-right:20px;
    width:var(--menu-todo-btn-size);
    height: var(--menu--todo-btn-size);
    font-size:15px;
}

.menu__text{
    font-size:25px;
    color:var(--white-color);
}

.menu__content{
    display: flex;
}

.menu__vertical{
    width: 2px;
    height: 100%;
    background-color: var(--white-color);
    margin-left:4.5%;
    margin-right:30px;
}

.menu__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    color:var(--white-color);
}

.menu__title{
    margin-top:7%;
    margin-bottom:5%;
}

.menu__title-btn{
    color:var(--white-color);
    font-size: var(--menu-title-size);
}

.menu__item{
    list-style: none;
    margin:7% 5%;
}

.menu__item__btn{
    color:var(--white-color);
    font-size: var(--list-text-size);
}

.menu-hide{
    visibility: hidden;
}

.scrollUp_vertical{
    animation:verticalHide 0.2s ease forwards;
}

.scrollUp_home{
    animation:scrollUp 0.2s ease forwards;
    animation-delay: 0.4s;
}

.scrollUp_movie{
    animation:scrollUp 0.2s ease forwards;
    animation-delay: 0.3s;
}

.scrollUp_scene{
    animation:scrollUp 0.2s ease forwards;
    animation-delay: 0.2s;
}


.scrollUp_illustration{
    animation:scrollUp 0.2s ease forwards;
    animation-delay: 0.1s;
}

.scrollUp_sound-track{
    animation:scrollUp 0.2s ease forwards;
}

.scrollDown_vertical{
    animation:verticalShow 0.2s ease forwards;
}


.scrollDown_home{
    animation:scrollDown 0.2s ease forwards;
}

.scrollDown_movie{
    animation:scrollDown 0.2s ease forwards;
    animation-delay: 0.1s;
}

.scrollDown_scene{
    animation:scrollDown 0.3s ease forwards;
    animation-delay: 0.2s;
}


.scrollDown_illustration{
    animation:scrollDown 0.3s ease forwards;
    animation-delay: 0.3s;
}

.scrollDown_sound-track{
    animation:scrollDown 0.3s ease forwards;
    animation-delay: 0.4s;
}

@keyframes verticalHide{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}


@keyframes verticalShow{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes scrollDown {
    0%{
        transform: translateY(-5%);
        opacity:0;
    }
    50%{
        transform: none;
        opacity:0.5;
    }
    100%{
        transform: none;
        opacity:1;
    }
}

@keyframes scrollUp {
    0%{
        transform: none;
        opacity:1;
    }
    50%{
        transform: translateY(-5%);
        opacity:1;
    }
    100%{
        transform: translateY(-5%);
        opacity:0;
}
}


.title{
    position: absolute;
    top:5%;
    align-self: center;
    color:var(--white-color);
    text-transform: uppercase;
    font-size:var(--title-size);
    margin: 0;
    font-weight: bold;
}

.todo{
    position: absolute;
    top:0;
    right:3%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo__form{
    margin:0 16px;  
    border: var(--border);
    border-radius: 12px;
    padding:5px;
    display: flex;
    justify-content: center;
}

.todo__header{
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.todo__btn{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:var(--menu--todo-btn-size);
    height: var(--menu--todo-btn-size);
    border-radius: 50%;
    border: var(--border);
    color:var(--white-color);
}

.todo__input{
    width: 70%;
    color:var(--white-color);
}

.todo__input::placeholder{
    color:var(--white-color);
}

.todo-list-container{
    padding:3%;
    text-align: center;
    border:var(--border);
    height: 10%;
    width: 70%;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: visibility 0.3s ease;
}

.todo-list-header{
    color: var(--white-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}

.todo-item{
    display: flex;
}

.todo-text{
    width:50%;
    color:var(--white-color);
}

.todo-list-btn{
    color:var(--white-color);
    font-size:18px;
    will-change: transform;
}

.todo-btns{
    width:50%;
}

.todo-del-btn{
    font-size:25px;
}

.scrollUp-todo{
    animation:scrollUp 0.2s ease forwards;
}

.scrollDown-todo{
    animation:scrollDown 0.2s ease forwards;
}

.todo-hide{
    visibility:hidden;
}