:root{
    /*color*/
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    --user-color:#5847A3;
    --player-color:#6683D9;
    /*size*/
    --user-header-font:40px;
    --player-font:24px;

    /*border*/
    --border:2px solid var(--white-color);
    --user-border:2px solid var(--user-color);
    --photo-border:4px solid;
}

.movie{
    position: absolute;
    top:50%;
    left:15%;
    padding:3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.movie__header{
    margin-bottom: 2%;
}

.movie__header__icon{
    font-size: 35px;
    padding:5px;
    border-radius: 50%;
    color:var(--white-color);
}

.movie__header__text{
    font-size:35px;
    color:var(--white-color);
}

.movie__scene,
.movie__illust{
    padding:3%;
    height: 10%;
    width: 100%;
    margin-bottom:15%;
}

.scene__header,
.illust__header,
.sound-track__header{
    font-size:35px;
    color:var(--white-color);
}

.scene__content,
.illust__content,
.sound-track__content{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.scene__btn,
.illust__btn{
    font-size:25px;
    color:white;
}

.scene__wrapper,
.illust__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    width:82%;
    height: 300px;
    overflow-x: hidden;
}

.scene__slider,
.illust__slider,
.sound-track__slider{
    height: 100%;
    display: flex;
    align-items: center;
    transition:transform 0.3s ease-in-out;
}

.scene__slider__item,
.illust__slider__item{
    display: inline-block;
    margin-right:20px;
    cursor: pointer;
}

.scene__photo,
.illust__photo{
    width:350px;
    height:280px;
    border:var(--photo-border) transparent;
    transition:all 0.3s ease;
}


.scene__photo:hover,
.illust__photo:hover{
    border:var(--photo-border) var(--white-color);
}

