@import "menu-todo.css";
@import "movie.css";

:root{
    /*color*/
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;

    /*size*/
    --header-time-size:50px;
    --header-name-size:35px;
    --header-music-title-size:20px;

    /*border*/
    --border:2px solid var(--white-color);
}

*{
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.2);
}

ul,input{
    all:unset;
}

body{
    margin:0;
    width:99vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("img/background.jpg") center/cover no-repeat;
    background-attachment: fixed;
}

.header{
    padding:1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--white-color);
}

.header__time{
    font-size: var(--header-time-size);
    margin-right:40px;
}

.header__name{
    font-size:var(--header-name-size);
    text-transform: uppercase;
}

.header__name-input{
    text-align: center;
    width: 100%;
    padding:8px;
    border:var(--border);
    border-radius: 12px;
}

.header__name-input::placeholder{
    color:var(--white-color);
    text-align: center;
    font-size: 20px;
}

.name-hide{
    display: none;
}


.header__music-weather{
    display: flex;
    margin-right: 30px;
}

.header__music{
    margin-right:100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__music__title{
    font-size:var(--header-music-title-size);
    text-transform: uppercase;
    margin-bottom:10px;
}

.header__music__btn{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    will-change: transform;
}

.header__weather{
    font-size:var(--header-music-title-size);
    display: flex;
    flex-direction: column;
    align-items: center;
}

