@import "main.css";

:root{
    /*color*/
    --sky-blue-color:#A5F7FF;
    --white-color:#FFFFFF;
    --black-color:#060400;
    --bg1-color:#7C8DE5;
    --bg2-color:#0B0438;

    /*size*/
    --header-time-size:50px;
    --header-name-size:25px;
    --header-music-title-size:20px;

    /*border*/
    
}

*{
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.2);
}

ul,input{
    all:unset;
}

body{
    box-sizing: border-box;
    margin:0;
    width:99vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    background: url("img/background3.jpg") center/cover no-repeat;
    background-attachment: fixed;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--white-color);
}

.header__time-name-container{
    width: 33%;
    display: flex;
}

.header__time{
    font-size: var(--header-time-size);
    margin-right:40px;
}

.header__name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size:var(--header-name-size);
    text-transform: uppercase;
}

.header__music-weather{
    display: flex;
    justify-content: flex-end;
    width: 33%;
    margin-right: 30px;
}

.header__music{
    margin-right:100px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__music__title{
    font-size:var(--header-music-title-size);
    text-transform: uppercase;
    margin-bottom:10px;
}

.header__music__btn{
    display: flex;
    justify-content: center;
    color: var(--white-color);
    will-change: transform;
}

.header__weather{
    font-size:var(--header-music-title-size);
    display: flex;
    flex-direction: column;
}

